%body#vendors_body
  #form_div
    %h2 Add a New Product Tag Category
    %h6 Each Product Tag Category contains various product tags as a larger collection of related tags. Each tag belongs to only *one* tag category.
    %h6 For example product tags like "Plastic Bag", "Paper Wrapped" and "Minimap Packaging" can all be grouped under the "Packaging" Category
    </br>
    = form_for [@tag_category] do |f|
      #form_elements_div

        .form_group.element_div
          = f.label :name
          = f.text_field :name

        .form_group.element_div
          = f.label :description
          = f.text_field :description

        #submit_div.form_group
          = f.submit class: 'btn btn-success'
          = button_tag 'Cancel', type: :button, onclick: 'confirmTagCancel()', id: :cancel_button, class: 'btn btn-danger'
