- tag_snaked = tag.downcase.gsub(' ', '_')
.carousel{id: tag_snaked}
  %h3.carousel_header{class: tag_snaked}
    - if tag == 'Lc Based'
      = 'Locally Based'
    - elsif tag == 'Eco Sound'
      = 'Ecologically Sound'
    - else
      = tag
  #carousel_item
    - if type == :vendor
      - if list
        - list[0..14].each do |vendor|
          - if vendor.picture.present?
            = render 'carousel_element', item: vendor, item_path: vendor_path(vendor.id), tag_snaked: tag_snaked

    - if type == :product
      - if list
        - list[0..14].each do |product|
          - if product.picture.present?
            = render 'carousel_element', item: product, item_path: product_path(product.id), tag_snaked: tag_snaked
