%div{:class => "container carousel_element #{local_assigns[:ownership].gsub(" ", "_")}", :id => local_assigns[:vendor].name.gsub(" ", "_"), :onclick => "routeToPageDirectly('#{vendor_path(local_assigns[:vendor].id)}')"}
  %button
    = image_tag local_assigns[:vendor].picture, :class => "image"
  %p{:class => "discovery-centered"}
    %td= local_assigns[:vendor].name
  %p{:class => "overlay"}
    - if local_assigns[:vendor].story
      %td= local_assigns[:vendor].story
