%header
  %div{:class => "navbar navbar-expand-md navbar-dark bg-dark static-top"}
    %div{:class => "container-fluid"}
      %div{:class => "navbar-header"}
        = link_to discovery_path, id: "logo", class: "navbar-brand w-50" do
          = image_tag "logo450x429.png", id: "logoheader"
      %button{:type => "button", :class => "navbar-toggler", :data => {:toggle => "collapse", :target => "#navbarResponsive"}, :aria => {:expanded => "false", :controls => "navbarResponsive", :label => "Toggle navigation"}}
        %span{:class => "navbar-toggler-icon"}
      %div{:id => "navbarResponsive", :class => "collapse navbar-collapse w-100"}
        %ul{:class => "navbar-nav w-100"}
          %li{:class => "nav-item"}
            = link_to "Home", discovery_path, class: "nav-link"
          %li{:class => "nav-item"}
            = link_to "Vendors", vendors_path, class: "nav-link"
          %li{:class => "nav-item"}
            = link_to "Products", products_path, class: "nav-link"
          %li{:class => "nav-item"}
            = link_to "Tags", tags_path, class: "nav-link"