#details
  #detailsPageHeader
    %h1.item_name
      = "All Vendors"

#letter-nav-padding
#notice{class: flash[:type]}
  = flash[:message]
%table#index
  %tbody

    #image
    %img.imageNoText{ src: @picture, width:"571" , height:"381"}

    #story
      %h5.subhead
      %p.subheadtext.storytext
        = @description

    - ('A'..'Z').to_a.each do |letter|
      - items_with_letter = myclass.where("name LIKE ?", "#{letter}%")
      = render 'singleSymbolItems', items: items_with_letter, sym: letter, admin: admin, myclass: myclass
    - items_with_nonletter = myclass.where("name < 'A'")
    = render 'singleSymbolItems', items: items_with_nonletter, sym: 1, admin: admin, myclass: myclass

