#newDetailsPageContent

  -# visible tags on each page
  #tag_section
    - @tags.each do |t|
      - items_with_letter = ProductTag.where(id: t)
      = render 'tagsDisplay', items: items_with_letter, sym: "A", admin: false, myclass: ProductTag
  
  - if not @product.picture == nil and not @product.picture.empty?
    #image
      %img.imageNoText{ src: @product.picture, width:"600" , height:"400"}
  - else
    #image
      %img.imageNoText{ src: image_url('product_placeholder.jpeg'), width:"900" , height:"340"}

  #vendor 
    %h5.subhead.connectionlink
      = button_to "Producer: #{@product.my_vendor.name}", my_vendor_path(@product.my_vendor_id), {method: :get, class: 'prod-link'}

  - if not @product.description == nil and not @product.description.empty?
    #story
      %h5.subhead
      %p.subheadtext.storytext
        = @product.description
  

= render 'footer', currentPage: 'my_product', admin: false