#details
  #detailsPageHeader
    %h1.item_name
      = "All Products"

#letter-nav-padding
#notice{class: flash[:type]}
  = flash[:message]
%table#index
  %tbody

    - if @picture == nil?
      #image
        %img.imageNoText{ src: 'https://article.images.consumerreports.org/f_auto/prod/content/dam/CRO%20Images%202019/Money/04April/CR-Money-Inlinehero-grocery-store-best-produce-0419', width:"571" , height:"381"}
    - else
      #image
        %img.imageNoText{ src: @picture, width:"571" , height:"381"}

    - if @description == nil?
      #story
        %h5.subhead
          %p.subheadtext.storytext
            = "All our products:"
    - else
      #story
        %h5.subhead
          %p.subheadtext.storytext
            = @description

    - ('A'..'Z').to_a.each do |letter|
      - items_with_letter = myclass.where("name LIKE ?", "#{letter}%")
      = render 'singleSymbolItems', items: items_with_letter, sym: letter, admin: admin, myclass: myclass
    - items_with_nonletter = myclass.where("name < 'A'")
    = render 'singleSymbolItems', items: items_with_nonletter, sym: 1, admin: admin, myclass: myclass

