- if not @vendor.facebook.empty?
  = button_to @vendor.facebook, {method: :get, class: 'socialBtn'} do
    = image_tag 'vendor-icons/facebook.png', class: 'iconLogo'
- if not @vendor.twitter.empty?
  = button_to @vendor.twitter, {method: :get, class: 'socialBtn'} do
    = image_tag 'vendor-icons/twitter.png', class: 'iconLogo'
- if not @vendor.instagram.empty?
  = button_to @vendor.instagram, {method: :get, class: 'socialBtn'} do
    = image_tag 'vendor-icons/instagram.png', class: 'iconLogo'
