#detailsPageContent
  #leftAlign
    %image#detailsPageImage.imageWithText{:src => image_url(@vendor.picture)}
    #socialWithText
      %button.socialBtn{type: 'button', onclick: "routeToPageDirectly('#{@vendor.facebook}')"}
        %i.fa.fa-facebook-square
      %button.socialBtn{type: 'button', onclick: "routeToPageDirectly('#{@vendor.twitter}')"}
        %i.fa.fa-twitter-square
      %button.socialBtn{type: 'button', onclick: "routeToPageDirectly('#{@vendor.instagram}')"}
        %i.fa.fa-instagram
    #extendTags
      = render "details_extend_tags"
  #detailsPageText
    = render "details_text"