%div{class: flash[:type]}
  = flash[:message]

= form_for @vendor do |f|
  #form_elements_div
    .form_group.element_div
      = f.label :name
      = f.text_field :name

    .form_group.element_div
      = f.label :address
      = f.text_field :address

    .form_group.element_div
      = f.label :facebook
      = f.text_field :facebook

    .form_group.element_div
      = f.label :twitter
      = f.text_field :twitter

    .form_group.element_div
      = f.label :instagram
      = f.text_field :instagram

    #ownerships.element_div
      = f.fields_for :ownerships do |ff|
        %div.ownership
          = ff.text_field :name, readonly: true, disabled: true, size: 50
          = ff.check_box :_destroy
          = ff.label :_destroy, 'Remove Ownership Type'

    #new_ownerships.element_div
      = text_field_tag :new_ownership_field
      = submit_tag 'Add new ownership type', type: :button, onclick: 'addNewSelect()'

    #submit_div.form_group
      = f.submit class: 'btn btn-success'
      %button.btn.btn-danger#cancel_button{type: 'button', onclick: 'confirmVendorCancel()'} Cancel

-##new_ownerships.element_div
-#  = form_for :ownership, url: ownerships_path, remote: true, html: {id: :new_ownership_form} do |ff|
-#    = ff.text_field :name
-#    = ff.submit 'Add new ownership type', form: :new_ownership_form