#form_div
  %div
    %div.centered
      %image#logo{:src => image_url('logo450x429.png')}
    %div#dropdown
    %div.centered
      %button.togglePage#unselected{type: 'button', onclick: "routeToPageDirectly('#{products_path}')"} PRODUCTS
      %button.togglePage#selected{type: 'button', onclick: "routeToPageDirectly('#{vendors_path}')"} VENDORS
    %table.centered
      %tbody#letter-nav
        %tr#letters
          - ('A'..'Z').to_a.each do |letter|
            %td.jump
              %button#prod-link{type: 'button', onclick: "routeToPageDirectly('##{letter}')"} #{letter}
  %div{class: flash[:type]}
    = flash[:message]
  %table#index
    %tbody
      - ('A'..'Z').to_a.each do |letter|
        - vendors_with_letter = Vendor.where("name LIKE '#{letter}%'")
        - if vendors_with_letter.length > 0
          %tr#letter-heading
            %td{id: "#{letter}"}= letter
          - vendors_with_letter.each do |vendor|
            %tr
              %td#products
                %button#prod-link{type: 'button', onclick: "routeToPageDirectly('#{edit_vendor_path(vendor.id)}')"} #{vendor.name}
        - else
          %tr{id: "#{letter}"}