#details
  #vendorHeader
    %button#home{type: 'button', onclick: "routeToPageDirectly('#{discovery_path}')"}
      %image#logo-nav{:src => image_url('logo450x429.png')}
    #vendorInfo
      %h1
        = @vendor.name
      %p
        - addr = @vendor.address.split(",")
        - for i in 0..addr.length do
          %p#addr=addr[i]

      #tags
        - if @vendor.ownerships.length > 0
          - @vendor.ownerships[0...5].each do |tags|
            %h3.tagBtns
              = tags.name
  #vendorContent
    - if not @vendor.picture.empty?
      #leftAlign
        %image#vendorImage{:src => image_url(@vendor.picture)}
        #social
          %button.socialBtn{type: 'button', onclick: "routeToPageDirectly('#{@vendor.facebook}')"}
            %i.fa.fa-facebook-square
          %button.socialBtn{type: 'button', onclick: "routeToPageDirectly('#{@vendor.twitter}')"}
            %i.fa.fa-twitter-square
          %button.socialBtn{type: 'button', onclick: "routeToPageDirectly('#{@vendor.instagram}')"}
            %i.fa.fa-instagram
        #extendTags
          - if @vendor.ownerships.length > 4
            - @vendor.ownerships[4...@vendor.ownerships.length].each do |tags|
              %h3.tagLinks
                = tags.name
    #vendorText
      #mission
        %h5.subhead Mission
        %p.subheadtext
          = @vendor.mission
      #story
        %h5.subhead Story
        %p.subheadtext
          = @vendor.story
  #vendorFooter
    - if @vendor.picture.empty?
      #social
        %button.socialBtn{type: 'button', onclick: "routeToPageDirectly('#{@vendor.facebook}')"}
          %i.fa.fa-facebook-square
        %button.socialBtn{type: 'button', onclick: "routeToPageDirectly('#{@vendor.twitter}')"}
          %i.fa.fa-twitter-square
        %button.socialBtn{type: 'button', onclick: "routeToPageDirectly('#{@vendor.instagram}')"}
          %i.fa.fa-instagram
      #extendTags
        - if @vendor.ownerships.length > 4
          - @vendor.ownerships[4...@vendor.ownerships.length].each do |tags|
            %h3.tagLinks
              = tags.name
