= render 'header', currentPage: 'my_product', admin: false
#details
  #detailsPageHeader
    %h1.item_name
      = @product_tag.name

#letter-nav-padding
#notice{class: flash[:type]}
  = flash[:message]
%table#index
  %tbody

    #image
    %img.imageNoText{ src: 'https://ulmhawkeyeonline.com/wp-content/uploads/2017/11/636163135798656945362117651_vegan-1.jpg', width:"571" , height:"381"}

    #story
      %h5.subhead
      %p.subheadtext.storytext
        = "This is what vegan means! Enter paragraph here"

    - @tags.each do |v|
      - items_with_letter = MyProduct.where(id: v)
      = render 'singleSymbolItems', items: items_with_letter, sym: "A", admin: false, myclass: MyProduct


= render 'footer', currentPage: 'my_product', admin: false