= render 'header', currentPage: 'my_product', admin: false
#details
  #detailsPageHeader
    %h1.item_name
      = @producer_tag.name
      -if current_admin
        .edit_button
          %a{href: edit_producer_tag_path(@producer_tag)} Edit
    

#letter-nav-padding
#notice{class: flash[:type]}
  = flash[:message]
%table#index
  %tbody
    - @tags.each do |v|
      - items_with_letter = MyVendor.where(id: v)
      = render 'singleSymbolItems', items: items_with_letter, sym: "A", admin: false, myclass: MyVendor

    #image
      - if not @producer_tag.picture == nil and not @producer_tag.picture.empty?
        %img.imageNoText{ src: @producer_tag.picture, width:"600" , height:"400"}
      - else
        %img.imageNoText{ src: image_url('producer_tag_placeholder.jpeg'), width:"350" , height:"350"}

    #story
      %h5.subhead
      %p.subheadtext.storytext
        = @producer_tag.description



= render 'footer', currentPage: 'my_product', admin: false


