= render 'header', currentPage: 'my_product', admin: false
#details
  #detailsPageHeader
    %h1.item_name
      = @producer_tag.name
    

#letter-nav-padding
#notice{class: flash[:type]}
  = flash[:message]
%table#index
  %tbody

    #image
    %img.imageNoText{ src: @producer_tag.picture, width:"571" , height:"381"}

    #story
      %h5.subhead
      %p.subheadtext.storytext
        = @producer_tag.description
    - @tags.each do |v|
      - items_with_letter = MyVendor.where(id: v)
      = render 'singleSymbolItems', items: items_with_letter, sym: "A", admin: false, myclass: MyVendor


= render 'footer', currentPage: 'my_product', admin: false


