%header
  .navbar.navbar-expand-lg.navbar-dark.static-top
    .container-fluid
      .navbar-header
        = link_to discovery_path, id: 'logo', class: 'navbar-brand w-50' do
          = image_tag 'logo450x429.png', id: 'logoheader'
      %button.navbar-toggler{type: 'button', data: {toggle: 'collapse', target: '#navbarResponsive'}, aria: {expanded: 'false', controls: 'navbarResponsive', label: 'Toggle navigation'}}
        %span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse.w-100
        %ul.navbar-nav.w-100
          -if admin
            %li.navbar-text ADMIN
            %li.nav-item{class: ('active' if currentPage == 'vendor')}
              = link_to 'Vendors', admin_vendors_path, class: 'nav-link'
            %li.nav-item{class: ('active' if currentPage == 'product')}
              = link_to 'Products', admin_products_path, class: 'nav-link'
            %li.nav-item{class: ('active' if currentPage == 'tag')}
              = link_to 'Tags', admin_tags_path, class: 'nav-link'
          -else
            %li.nav-item{class: ('active' if currentPage == 'discovery')}
              = link_to 'Discovery', discovery_path, class: 'nav-link'
            %li.nav-item{class: ('active' if currentPage == 'vendor')}
              = link_to 'Vendors', vendors_path, class: 'nav-link'
            %li.nav-item{class: ('active' if currentPage == 'product')}
              = link_to 'Products', products_path, class: 'nav-link'
      -if admin
        .dropdown
          %button.dropbtn
            %i.fa.fa-plus
          .dropdown-content
            = button_to 'Add Product', new_admin_product_path, {method: :get, class: 'prod-link'}
            = button_to 'Add Vendor', new_admin_vendor_path, {method: :get, class: 'prod-link'}
