%header
  .navbar.navbar-expand-lg.navbar-dark.static-top
    .container-fluid
      .navbar-header
        = link_to discovery_path, id: 'logo', class: 'navbar-brand w-50' do
          = image_tag 'logo450x429.png', id: 'logoheader'
      %button.navbar-toggler{type: 'button', data: {toggle: 'collapse', target: '#navbarResponsive'}, aria: {expanded: 'false', controls: 'navbarResponsive', label: 'Toggle navigation'}}
        %span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse.w-100
        %ul.navbar-nav.w-100
          -if admin
            %li.dropdown
              %a.dropdown{href: "#", class: 'nav-link'}
                ADMIN

            %li.dropdown
              %a.dropdown{href: discovery_path, class: 'nav-link'}
                Discovery
              
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: producer_tags_path, class: 'nav-link'}
                Vendors
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href:vendors_path } All Vendors
                %li
                  %a{href: producer_tags_path} By Category
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: product_tags_path, class: 'nav-link'}
                Products
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: products_path} All Products
                %li
                  %a{href: product_tags_path} by Category
          
          -else

            %li.dropdown
              %a.dropdown{href: discovery_path, class: 'nav-link'}
                Discovery
              
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: producer_tags_path, class: 'nav-link'}
                Vendors
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href:vendors_path } All Vendors
                %li
                  %a{href: producer_tags_path} By Category
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: product_tags_path, class: 'nav-link'}
                Products
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: products_path} All Products
                %li
                  %a{href: product_tags_path} by Category
            
        
        %button 
          =button_to 'Login', discovery_path, {method: :get, class: 'prod-link'}
      
      -if admin
        .dropdown
          %button.dropbtn
            %i.fa.fa-plus
          .dropdown-content
            = button_to 'New Product', new_admin_product_path, {method: :get, class: 'prod-link'}
            = button_to 'New Vendor', new_admin_vendor_path, {method: :get, class: 'prod-link'}
            = button_to 'New Product Tag', new_product_tag_path, {method: :get, class: 'prod-link'}
            = button_to 'New Producer Tag', new_producer_tag_path, {method: :get, class: 'prod-link'}
            = button_to 'New Tag Category', new_admin_product_tag_category_path, {method: :get, class: 'prod-link'}
