= render 'letterNav'
#notice{class: flash[:type]}
  = flash[:message]
%table#index
  %tbody
    - ('A'..'Z').to_a.each do |letter|
      - item_with_letter = @class.where("name LIKE ?", "#{letter}%")
      = render singleLetterItem, locals: {items: item_with_letter, letter: letter, action: action, controller: controller}
      // - if item_with_letter.length > 0
      //   %tr.letter-heading
      //     %td{id: "#{letter}"}= letter
      //   - item_with_letter.each do |product|
      //     %tr
      //       %td.products
      //         %button.prod-link{type: 'button', onclick: "routeToPageDirectly('#{edit_admin_product_path(product.id)}')"} #{product.name} - #{product.vendor.name}
      // - else
      //   %tr{id: "#{letter}"}
    - item_with_nonletter = @class.where("name < 'A'")
    - if item_with_nonletter.length > 0
      %tr.letter-heading
        %td{id: "1"}= 1
      - products_with_nonletter.each do |product|
        %tr
          %td.products
            %button.prod-link{type: 'button', onclick: "routeToPageDirectly('#{edit_admin_product_path(product.id)}')"} #{product.name} - #{product.vendor.name}

