- if items.length > 0
        %tr.letter-heading
          %td{id: "#{letter}"}= letter
        - items.each do |product|
          %tr
            %td.products
              %button.prod-link{type: 'button', onclick: "routeToPageDirectly('#{path(product.id)}')"} #{product.name} - #{product.vendor.name}
      - else
        %tr{id: "#{letter}"}