#form_div
  %h2 All Products
  %div{class: flash[:type]}
    = flash[:message]
  %table{:border => 1}
    %tbody
      %tr
        %th Name  
        %th Vendor  
        %th More Details  
      - @products.each do |product|
        %tr
          %td= product.name 
          %td= product.vendor_id
          %td= link_to "More about #{product.name}", edit_product_path(product)

%li= link_to 'Add new product', new_product_path	