#form_div
  %div
    %image{:src => image_url('logo450x429.png')}
    %div#dropdown
    %div#nav
      %button{type: 'button', onclick: 'routeToProductPage()'} Products
      %button{type: 'button', onclick: 'routeToVendorPage()'} Vendors
    %table
      %tbody#letter-nav
        %tr#letters
          - ('A'..'Z').to_a.each do |letter|
            %td#jump= letter
  %div{class: flash[:type]}
    = flash[:message]
  %table#index
    %tbody
      - ('A'..'Z').to_a.each do |letter|
        %tr#letter-heading
          %td= letter
        - Product.where("name LIKE '#{letter}%'").each do |product|
          %tr
            %td#products
              %button#prod-link{type: 'button', onclick: 'edit_product_path(product)'} #{product.name} - #{product.vendor.name}
