#form_div
  %div
    %div.centered
      %image#logo{:src => image_url('logo450x429.png')}
    %div#dropdown
    %div.centered
      %button.togglePage#selected{type: 'button', onclick: "routeToPageDirectly('#{products_path}')"} PRODUCTS
      %button.togglePage#unselected{type: 'button', onclick: "routeToPageDirectly('#{vendors_path}')"} VENDORS
    %table.centered
      %tbody#letter-nav
        %tr#letters
          - ('A'..'Z').to_a.each do |letter|
            %td#jump= letter
  %div{class: flash[:type]}
    = flash[:message]
  %table#index
    %tbody
      - ('A'..'Z').to_a.each do |letter|
        %tr#letter-heading
          %td= letter
        - Product.where("name LIKE '#{letter}%'").each do |product|
          %tr
            %td#products
              %button#prod-link{type: 'button', onclick: "routeToPageDirectly('#{edit_product_path(product.id)}')"} #{product.name} - #{product.vendor.name}
