#form_div
  %div
    %div.centered
      %image#logo{:src => image_url('logo450x429.png')}
    %div#dropdown
    %div.centered
      %button.togglePage#selected{type: 'button', onclick: "routeToPageDirectly('#{products_path}')"} PRODUCTS
      %button.togglePage#unselected{type: 'button', onclick: "routeToPageDirectly('#{vendors_path}')"} VENDORS
    %table.centered
      %tbody#letter-nav
        %tr#letters
          - ('A'..'Z').to_a.each do |letter|
            %td.jump
              %button#prod-link{type: 'button', onclick: "routeToPageDirectly('##{letter}')"} #{letter}
          %td.jump
            %button#prod-link{type: 'button', onclick: "routeToPageDirectly('##{1}')"} #{1}
  %div{class: flash[:type]}
    = flash[:message]
  %table#index
    %tbody
      - ('A'..'Z').to_a.each do |letter|
        - products_with_letter = Product.where("name LIKE '#{letter}%'")
        - if products_with_letter.length > 0
          %tr#letter-heading
            %td{id: "#{letter}"}= letter
          - products_with_letter.each do |product|
            %tr
              %td#products
                %button#prod-link{type: 'button', onclick: "routeToPageDirectly('#{edit_product_path(product.id)}')"} #{product.name} - #{product.vendor.name}
        - else
          %tr{id: "#{letter}"}
      - products_with_nonletter = Product.where("name < 'A'")
      - if products_with_nonletter.length > 0
        %tr#letter-heading
          %td{id: "1"}= 1
        - products_with_nonletter.each do |product|
          %tr
            %td#products
              %button#prod-link{type: 'button', onclick: "routeToPageDirectly('#{edit_product_path(product.id)}')"} #{product.name} - #{product.vendor.name}
