%head 
	%link{:src => "../../assets/stylesheets/product.scss", :rel => "stylesheet"}
	%script{:src => "../../assets/javascripts/scripts.js"}	
%body#productsBody
	#form_div
		%h2 Add New Product 
		= form_tag products_path, :id => "product_form_id" do
			#form_elements_div
				.dropdown#vendorDropdown
					%button.btn.btn-primary.dropdown-toggle#vendorDropButton{:type => "button", "data-toggle" => "dropdown"}
						Select Vendor
					.dropdown-menu#vendorDropMenu
						- @vendors.each do |vendor| 
							%button{:type => "button", :class => "dropdown-item", :href => "#", :onclick => "selectVendor(" + vendor.id.to_s + ")"} 
								= vendor.name

								
				=text_field :product, "vendor_id"

				.form_group.element_div
					=label :product, :name, "Name"
					=text_field :product, "name"

				.form_group.element_div#dietary_div
					%h4 Dietary Restrictions
					.checkboxClass
						=label :product, :gluten_free, "Gluten-Free"
						= check_box :product, 'gluten_free'
					.checkboxClass
						=label :product, :dairy_free, "Dairy-Free"
						= check_box :product, 'dairy_free'
					.checkboxClass
						=label :product, :vegan, "Vegan"
						= check_box :product, 'vegan'
					
				.form_group.element_div#rfc_div
					%h4	 Real Food Challenge
					.checkboxClass
						=label :product, :lc_based, "Local and Community Based"
						= check_box :product, 'lc_based'
					.checkboxClass
						=label :product, :fair, "Fair"
						= check_box :product, 'fair'
					.checkboxClass
						=label :product, :eco_sound, "Ecologically Sound"
						= check_box :product, 'eco_sound'
					.checkboxClass
						=label :product, :humane, "Humane"
						= check_box :product, "humane"
					
				.form_group.element_div
					=label :product, :upc, "UPC Code"
					=text_field :product, "upc"

				.form_group#submit_div
					= submit_tag "Add Product", id: "submit_button", :class => "btn btn-success"
					%button.btn.btn-danger#cancel_button{:type => "button", :onclick => "confirmProductCancel()"} Cancel