#details
  #detailsPageHeader
    %button#home{type: 'button', onclick: "routeToPageDirectly('#{discovery_path}')"}
      %image#logo-nav{:src => image_url('logo450x429.png')}
    #detailsPageInfo
      %h1
        = @product.name
      %h2
        %address
          made by 
          = @product.vendor.name
      #tags
        - if @product.certifications.length > 0
          - @product.certifications[0...4].each do |tags|
            %h3.tagBtns
              = tags.name
        - if @product.nutritions.length > 0
          - @product.nutritions[0...4].each do |tags|
            %h3.tagBtns
              = tags.name
  #detailsPageContent
    - if not @product.picture.empty?
      #leftAlign
        %image#detailsPageImage{:src => image_url(@product.picture)}
        - if @product.vegan
          %image#dietaryLogo{:src => image_url('product-icons/vegan.png')}
        - if @product.gluten_free
          %image#dietaryLogo{:src => image_url('product-icons/glutenfree.png')}
        - if @product.dairy_free
          %image#dietaryLogo{:src => image_url('product-icons/dairyfree.png')}
        #extendTags
          - if @product.certifications.length > 0
            - @product.certifications.each do |tags|
              %h3.tagLinks
                = tags.name
          - if @product.nutritions.length > 0
            - @product.nutritions.each do |tags|
              %h3.tagLinks
                = tags.name
          - if @product.packagings.length > 0
            - @product.packagings.each do |tags|
              %h3.tagLinks
                = tags.name
    #detailsPageText
      %h5.subhead Origin
      %p.subheadtext
        = @product.origin
      %h5.subhead Cultural History
      %p.subheadtext
        = @product.cultural_history
  #vendorFooter
    - if @product.picture.empty?
      - if @product.vegan
        %image#dietaryLogo{:src => image_url('product-icons/vegan.png')}
      - if @product.gluten_free
        %image#dietaryLogo{:src => image_url('product-icons/glutenfree.png')}
      - if @product.dairy_free
        %image#dietaryLogo{:src => image_url('product-icons/dairyfree.png')}
      #extendTags
        - if @product.certifications.length > 4
          - @product.certifications[4...@product.certifications.length].each do |tags|
            %h3.tagLinks
              = tags.name
        - if @product.nutritions.length > 4
          - @product.nutritions[4...@product.certifications.length].each do |tags|
            %h3.tagLinks
              = tags.name
        - if @product.packagings.length > 0
          - @product.packagings.each do |tags|
            %h3.tagLinks
              = tags.name